In [1]:
%load_ext sql

In [5]:
%sql sqlite:///database_1.db

u'Connected: None@database_1.db'

In [3]:
%%sql
CREATE TABLE STUDENT (
    FirstName VARCHAR(50) NOT NULL, 
    LastName VARCHAR(50) NOT NULL,
    Major VARCHAR(30),
    StudentID INT NOT NULL UNIQUE, 
    PRIMARY KEY (StudentID)
);

Done.

[]

In [8]:
%%sql
CREATE TABLE COURSE (
    Department VARCHAR(30) NOT NULL, 
    CourseNumber INT NOT NULL, 
    CourseName VARCHAR(50) NOT NULL, 
    Term VARCHAR(15) NOT NULL,
    Year INT NOT NULL,
    CourseID INT NOT NULL UNIQUE,
    PRIMARY KEY (CourseID)
);

Done.

[]

In [7]:
%%sql
CREATE TABLE ENROLLMENT (
    StudentID INT NOT NULL,
    CourseID INT NOT NULL,
    PRIMARY KEY(StudentID, CourseID)
);

Done.

[]

In [8]:
%%sql
CREATE TABLE DISTRIBUTION (
    DistributionID INT NOT NULL UNIQUE,
    CourseID INT NOT NULL,
    CategoryName VARCHAR(30) NOT NULL,
    PERCENTAGE INT NOT NULL,
    PRIMARY KEY(DistributionID)
);

Done.

[]

In [10]:
%%sql
CREATE TABLE ASSIGNMENT (
    AssignmentID INT NOT NULL UNIQUE,
    DistributionID INT NOT NULL,
    Instance INT NOT NULL, 
    PointsPossible INT DEFAULT 0 NOT NULL,
    PRIMARY KEY(AssignmentID)
);

Done.

[]

In [11]:
%%sql
CREATE TABLE SCORE (
    StudentID INT NOT NULL,
    AssignmentID INT NOT NULL,
    Points INT DEFAULT 0 NOT NULL,
    PRIMARY KEY(StudentID, AssignmentID)
);

Done.

[]